/* style.css */

body{
	padding-top: 50px;
}
main.container, main.container-fluid {
	margin-top: 10px;
}

.frame .nc-content-list article  h1,
.frame .nc-content-list article  .h1,
.frame .nc-content-list article  h2,
.frame .nc-content-list article  .h2,
.frame .nc-content-list article  h3,
.frame .nc-content-list article  .h3 {
  margin-top: 16px;
  margin-bottom: 10px;
}
.frame .nc-content-list article  h4,
.frame .nc-content-list article  .h4,
.frame .nc-content-list article  h5,
.frame .nc-content-list article  .h5,
.frame .nc-content-list article  h6,
.frame .nc-content-list article  .h6 {
  margin-top: 8px;
  margin-bottom: 8px;
}
.frame .nc-content-list article  h1 small,
.frame .nc-content-list article  .h1 small,
.frame .nc-content-list article  h2 small,
.frame .nc-content-list article  .h2 small,
.frame .nc-content-list article  h3 small,
.frame .nc-content-list article  .h3 small,
.frame .nc-content-list article  h1 .small,
.frame .nc-content-list article  .h1 .small,
.frame .nc-content-list article  h2 .small,
.frame .nc-content-list article  .h2 .small,
.frame .nc-content-list article  h3 .small,
.frame .nc-content-list article  .h3 .small {
  font-size: 75%;
}

.frame .nc-content-list article  h1,
.frame .nc-content-list article  .h1 {
  font-size: 27px;
}
.frame .nc-content-list article  h2,
.frame .nc-content-list article  .h2 {
  font-size: 18px;
}
.frame .nc-content-list article  h3,
.frame .nc-content-list article  .h3 {
  font-size: 16px;
}
.frame .nc-content-list article  h4,
.frame .nc-content-list article  .h4 {
  font-size: 13.5px;
}
.frame .nc-content-list article  h5,
.frame .nc-content-list article  .h5 {
  font-size: 10.5px;
}
.frame .nc-content-list article  h6,
.frame .nc-content-list article  .h6 {
  font-size: 9px;
}

.blogs_blogTitle {
	color: #777;
	font-size: 20.25px;
	font-weight: 400;
}

.frame.panel {
	border: 0px;
	border-radius: 0;
	box-shadow: none;
}
.panel.frame-header-type-settings {
	border: 0px;
	border-radius: 0;
	box-shadow: none;
}

.frame.panel > .panel-heading {
	border-radius: 0;
	padding-top: 5px;
	padding-bottom: 5px;
}

.frame.panel.panel-default > .panel-heading,
.panel.frame-header-type-settings.panel-default > .panel-heading {
	border-bottom-color: #dddddd;
	border-left: 10px solid #677571;
}
.frame.panel.panel-default > .panel-body .list-group-item.active,
.frame.panel.panel-default > .panel-body .list-group-item.active:focus,
.frame.panel.panel-default > .panel-body .list-group-item.active:hover {
	background-color: #f5f5f5;
	border-color: #ddd;
	color: #333;
}

.frame.panel.panel-primary > .panel-heading,
.panel.frame-header-type-settings.panel-primary > .panel-heading {
	border-bottom-color: #337ab7;
	border-left: 10px solid #3c35ac;
	background-color: #7b88d7;
}
.frame.panel.panel-primary > .panel-body .list-group-item.active,
.frame.panel.panel-primary > .panel-body .list-group-item.active:focus,
.frame.panel.panel-primary > .panel-body .list-group-item.active:hover {
	background-color: #7b88d7;
	border-color: #337ab7;
	color: #fff;
}

.frame.panel.panel-info > .panel-heading,
.panel.frame-header-type-settings.panel-info > .panel-heading {
	border-bottom-color: #bce8f1;
	border-left: 10px solid #337ab7;
}
.frame.panel.panel-info > .panel-body .list-group-item.active,
.frame.panel.panel-info > .panel-body .list-group-item.active:focus,
.frame.panel.panel-info > .panel-body .list-group-item.active:hover {
	background-color: #d9edf7;
	border-color: #bce8f1;
	color: #31708f;
}

.frame.panel.panel-success > .panel-heading,
.panel.frame-header-type-settings.panel-success > .panel-heading {
	border-bottom-color: #d6e9c6;
	border-left: 10px solid #2c7663;
}
.frame.panel.panel-success > .panel-body .list-group-item.active,
.frame.panel.panel-success > .panel-body .list-group-item.active:focus,
.frame.panel.panel-success > .panel-body .list-group-item.active:hover {
	background-color: #dff0d8;
	border-color: #d6e9c6;
	color: #3c763d;
}

.frame.panel.panel-warning > .panel-heading,
.panel.frame-header-type-settings.panel-warning > .panel-heading {
	border-bottom-color: #faebcc;
	border-left: 10px solid #aac05e;
}
.frame.panel.panel-warning > .panel-body .list-group-item.active,
.frame.panel.panel-warning > .panel-body .list-group-item.active:focus,
.frame.panel.panel-warning > .panel-body .list-group-item.active:hover {
	background-color: #fcf8e3;
	border-color: #faebcc;
	color: #8a6d3b;
}

.frame.panel.panel-danger > .panel-heading,
.panel.frame-header-type-settings.panel-danger > .panel-heading {
	border-bottom-color: #ebccd1;
	border-left: 10px solid #762c4b;
}
.frame.panel.panel-danger > .panel-body .list-group-item.active,
.frame.panel.panel-danger > .panel-body .list-group-item.active:focus,
.frame.panel.panel-danger > .panel-body .list-group-item.active:hover {
	background-color: #f2dede;
	border-color: #ebccd1;
	color: #a94442;
}

.frame.panel.plugin-menus > .panel-body {
	padding: 0px;
}

#container-header .frame.plugin-menus .nav.nav-tabs {
	background-image: linear-gradient(#fefefe, #f5f5f5 50%, #dddddd);
	background-repeat: no-repeat;
	border: 0px;
	padding-left: 15px;
	padding-right: 15px;
}
#container-header .frame.plugin-menus .nav.nav-tabs > li {
	margin-bottom: 0px;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	margin-left: -1px;
}
#container-header .frame.plugin-menus .nav.nav-tabs > li > a {
	border-radius: 0;
	border-top: 0px;
	border-bottom: 0px;
	margin-right: 0px;
}
#container-header .frame.plugin-menus .nav.nav-tabs > li.active {
	/*background-image: linear-gradient(#fefee8, #fefeb3 50%, #fefe89);*/
}
#container-header .frame.plugin-menus .nav.nav-tabs > li.active > a {
	background: transparent;
	border-color: transparent;
	/*color: #555;*/
}

